# Ignore log files
*.log

# Ignore build directories
/build/
/bin/
/out/

# Ignore IDE specific files
*.idea/
*.vscode/

# Ignore temporary files
*.tmp
*.swp
*.bak

# Ignore execution files
*.exe

# Ignore node modules
/node_modules/

# Ignore system files
.DS_Store
Thumbs.db
